/* body{
 height: 100vh;
 display: flex;
 justify-content: center;
  text-align: center;
} */
.search{
  width: 100%;
 display: flex;
 justify-content: center;
  text-align: center;
 
}
#pokemon-name-search{
  width: 400PX;
  height: 2rem;
}
#heading{
  margin-left: 5%;
}
.pokedex-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
  justify-content: space-around;
 
}
/* .pokemon-list-wrapper{
  height: 50px;
 
} */
.pokedex-item-container{
 
  margin: 2rem auto;
  margin-left: 2rem;
}
.name{
  font-size: larger;
  
  text-align: center;
  color: rgba(3, 3, 69, 0.926);
}

#image{
  height: 200px;
}
.Controls, button{
  margin: 0px 30px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px
}