/* body{
 height: 100vh;
 display: flex;
 justify-content: center;
  text-align: center;
} */
.search{
  width: 100%;
 display: flex;
 justify-content: center;
  text-align: center;
 
}
#pokemon-name-search{
  width: 400PX;
  height: 2rem;
}
#heading{
  margin-left: 5%;
  text-align: center;
}
.pokedex-wrapper{
  text-align: center;
}
.item-heading{
  margin-top: 10px;
}
.pokemon-list-wrapper{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 100px;
  justify-content: space-around;
 
}
/* .pokemon-list-wrapper{
  height: 50px;
 
} */

.name{
  font-size: larger;
  
  text-align: center;
  color: rgba(3, 3, 69, 0.926);
}

.pokeon-img{
  height: 200px;
  width: 200px;
  padding: 20px;
  cursor: pointer;
  margin: 20px;
  
}

.Controls, button{
  margin: 0px 30px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px
}
.pokemon:hover{
  border-radius: 5px;
  background-color: rgb(224, 230, 230); 
}