.search-wrapper{
 width: 500px;

 margin: 0 auto;
}
#pokemon-name-search{
  width: 100%;
  height: 2rem;
}
.pokedex-wrapper{
  letter-spacing: 2px;
 
}
#heading{
  margin-left: 45%;
}
.Pokemon-list-wrapper{
  margin-top: 20px;
  margin-left: 40%;
}
